@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  background-color: white;
  margin: 0;
  font-family: 'SF Pro Display', 'SF Pro Icons', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  line-height: 1.1;
}


.bg-custom {
  background-color: #b12f12;
}
.text-custom {
  color: #b12f12;
}

.bg-custom:hover {
  background-color: #b12f12;
}
.text-custom:hover {
  color: #b12f12;
}
.progress-bar {
  background-color: red;
  width: 0;
}


.home-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
  color: #b12F12;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover .home-label {
  opacity: 1;
}

button {
  margin-right: 10px;
  padding: 10px;
}

button:hover {
  background-color: #ffffff; /* Change this color to the desired hover color */
  transform: scale(1.5); /* Change this value to adjust the scale of the button on hover */
}

button:hover svg {
  fill: #b12f12; /* Change this color to the desired hover color for the SVG icon */
}


.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  color: #b12f12 !important;
  text-decoration: underline;
}

.flex a:hover svg,
.flex a:hover svg path {
  fill: #b12f12;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 30%;
  height: 8px;
  background: linear-gradient(to right, #6b0f8f, #b12f12);
  border-radius: 5px;
  outline: none;
}


input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b12f12;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b12f12;
  cursor: pointer;
}

.redBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}


/* Sidebar */
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating-animation {
  animation: floating 3s ease-in-out infinite;
}

.team-img {
  transition: transform 0.3s ease-in-out;
}

.team-img:hover {
  transform: scale(1.8);
  z-index: 1;
}

.team-section {
  height: auto;
  transition: height 0.5s ease-in-out;
}

.team-img:hover ~ .team-section {
  height: 0;
}

.team-img:hover ~ .team-section .team-member {
  visibility: hidden;
  opacity: 0;
  transform: translateY(50%);
  transition: visibility 0s 0.5s, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .team-member {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility 0s 0.5s, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
}
.team-container {
  overflow: hidden;
}

.team-img:hover ~ .team-container .team-section {
  height: 100%;
  transition: height 0.5s ease-in-out;
}